<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.cmov.p2photo">
    <!-- This permission is for Internet connection established (using sockets). -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- This permission is to check weather Internet connection is available or not -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permissions required by GoogleAuthUtil -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Icon generated with https://appicon.co/ -->
    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/p2photo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/p2photo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity android:name=".activities.ViewPhotoActivity" />
        <activity android:name=".activities.ViewAlbumActivity2" />
        <activity android:name=".activities.ListUserAlbumActivity2" />
        <activity android:name=".activities.DriveLoginActivity" />
        <activity android:name=".activities.AddUserToAlbumActivity" />
        <activity android:name=".activities.AddPhotoActivity" />
        <activity android:name=".activities.FindUserActivity" />
        <activity android:name=".activities.CreateAlbumActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.LoggedInActivity" />
        <activity android:name=".activities.GivePermissionActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>